@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%; /* Full height */
    margin: 0; /* Remove default margin */
    background: linear-gradient(#e66465, #9198e5);
}

.create_new_product {
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    height: 100%; /* Full height */
}

.card {
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.4) !important;
    backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    color: rgb(14, 14, 14);
}

h1 {
    
    font-size: 3rem !important;
    color: white !important;
    text-decoration: underline;
}
