{% extends 'base.html' %}
{% load static %}


{% block meta %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'main/login_register.css' %}">
{% endblock meta %}

{% block content %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class = "login">
        <h1>Login</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" class="form-control" required>
            <input type="password" name="password" placeholder="Password" class="form-control" required>
            <button class="btn btn-primary">Login</button>
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p class="register-now-text">Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
    </div>
</div>


{% endblock content %}